body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}

.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: rgb(92, 149, 199);
  border-radius: 8px;
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.card {
  margin-top: 20px;
}

.card img {
  width: 150px;
  border-radius: 50%;
}